<div>
  <style>
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        background-color: #428bca;
        float:left;
        width:100%;
    
    }
    
    .arrow {
  border: solid rgb(253, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
    
    nav li {
        float:left;
        width:14.28%;
        text-align: center;
        line-height: 50px;
    
        position: relative;
    }
    
    
    
    
    nav li a {
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px;
        text-decoration: none;
        -webkit-transition: color 1s;
        transition: color 1s;
    }
    
    
       nav li a:hover {
        color: #111;
    
    }
    i:hover {
        color: #111;
    
    }
    
    
    nav ul li ul {
    
        position: absolute;
        display: none;
        background-color:#428bca;
        min-width: 160px;
    
    }
    nav ul li ul li {
      width:100%;}
      
    nav ul li:hover > ul{
      display:block;
    }
    nav ul ul ul { 
    right:-50%;
    /*top:0*/
    }

    .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
    </style>
    
    <div style="position:relative; width: 100%;" >
    <nav>
    <ul>
        <ul>
          <li><a routerLink="/login" routerLinkActive="active">login<img routerLink="/login" routerLinkActive="active" src="assets/login.png" style="height: 20px;width: 20px;"/></a></li>
          <li><a routerLink="/credito">Creditos</a>
              <ul>
                  <li><a routerLink="/credito" routerLinkActive="active">Criar/Alterar</a></li> 
                  <li><a routerLink="/credito" routerLinkActive="active">Listar</a></li>
                  <li><a routerLink="/credito" routerLinkActive="active">Relatorios</a></li>
              </ul>
           </li>
          <li><a routerLink="/cliente">Clientes <i class="arrow down"></i> </a>
              <ul>
                  <li><a routerLink="/cliente" routerLinkActive="active">Criar/Alterar</a></li> 
                  <li><a routerLink="/cliente" routerLinkActive="active">Listar</a></li> 
                  <li><a routerLink="/cliente" routerLinkActive="active">Relatorios</a></li> 
                
              </ul>
           </li>
           <li><a  routerLinkActive="/Utilizador">Administracao <img   src="assets/settings.png   " style="height: 20px;width: 20px;"/></a>
            <ul>
                <li><a routerLink="/Utilizador" routerLinkActive="active">Utilizadores</a></li> 
                <!--<li><a routerLink="/funcionaio-form" routerLinkActive="active">Roles</a></li> -->
                <li><a routerLink="/#" routerLinkActive="active">Relatorios</a></li> 
                <li><a routerLink="/producto" routerLinkActive="active">Producots</a></li>
              
            </ul>
         </li>
         <li style="float: right;"><a  (click)="logOff()">logoff</a></li>
        </ul>
    </ul>
    </nav>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" *ngFor="let rout routs">
          <li class="breadcrumb-item active" aria-current="page">{{rout}}</li>
        </ol>
      </nav>
</div>
  
