
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  .fromCell{
    width: 30%; margin: 1.5px;
  }
  tr:hover {background-color: rgba(211, 231, 247, 0.965); color:black}
  .bt-save{margin-right: 5px; background-color:#044076;border-color:  044076;color: white;}
  .bt-cancel{background-color: rgb(226, 63, 63);border-bottom:  rgb(226, 63, 63);color:white}
  .fomTitle{
    text-decoration: underline;
    color: #428bca;
  }
  .selectItem{
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
    float: top;
  }
  .selectTableItem{
    background-color: #063f70;
    color:#f6f7f9;
  }

  </style>

  <div class="container">
    <div > <app-dialog [dialog]="dialog" ></app-dialog></div>

      <div class="form-row">
        <div class="fromCell">
          <label for="validationDefault01">Numero do Credito</label>
          <input  [(ngModel)]="credito.id" type="number" class="form-control"  placeholder="First name" value="Mark" disabled>
        </div>
        <div class="fromCell">
          <label for="validationDefault02">Capital</label>
          <input type="text" [(ngModel)]="credito.valor" class="form-control"  placeholder="Last name" value="Otto" required>
        </div>
        <div class="fromCell">
          <label for="validationDefaultUsername" >Data de concecao</label>
          <div >
            <div >
            </div>
            <input [(ngModel)]="credito.beginDate" type="date" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="fromCell">
          
          <label for="validationDefault03">Data de fim</label>
          <input [(ngModel)]="credito.doDate" type="date" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="fromCell">
          
          <label for="validationDefault03">Saldo</label>
          <input [(ngModel)]="credito.balance" type="text" class="form-control" id="validationDefault03" placeholder="City" disabled>
        </div>
        <div class="fromCell">
          <label for="validationDefault04" style="width: 100%;height: 30%;float: top;">Estado</label>
          <select  [(ngModel)]="credito.estado" class="slectItem" style="width: 100%;">
              <option *ngFor="let estado of estados" value="{{estado}}">{{estado}}</option>
          </select>
        </div>
        <div class="fromCell">
          <label for="validationDefault05">Jurus</label>
          <input  [(ngModel)]="credito.jurus" stype="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault04" style="width: 100%;height: 30%;float: top;">Produto</label>
          <select  [(ngModel)]="credito.producto"  class="selectItem" style="width: 100%;">
            <option *ngFor="let producto of productos" [ngValue]="producto">{{producto.descricao}}</option>
        </select>
        </div>
      </div>
      <div class="form-row">
          
        <div class="fromCell">
          <label for="validationDefault05">numero Cliente</label>
            <div>
              <input  [(ngModel)]="credito.cliente.id" stype="number" class="form-control" style="width: 85%; float: left"   required>
              <button class="btn btn-primary, bt-save" (click)="findCliente()" style="float: right;width: 13%"> find</button>
              <label style="float: left;width: 100%">{{credito.cliente.nome}}</label>
            </div>
          </div>
      </div>
    <br>
      <div class="form-row">  
        <div class="fromCell">
      <button class="btn btn-primary, bt-save" (click)="adicionarCredito()" >{{saveCreditoBt}}</button>

      <button class="btn btn-primary, bt-cancel" (click)="cancelarCredito()">cancelar/limpar</button>
        </div>
      </div>
      <hr>

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Investimentos</h3>
                
                <div class="pull-right">
                  <button class="btn btn-default btn-xs btn-filter" style="margin-right: 5px"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                  <button (click)="consultaCreditopageDown()" class="btn btn-default btn-xs btn-filter, bt-save"><span ></span> &#8249;</button>
                    <button (click)="consultaCredito()" class="btn btn-default btn-xs btn-filter, bt-save"><span ></span> &#8250;</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="ID Credito" ></th>
                        <th><input type="text" class="form-control" placeholder="Valor" ></th>
                        <th><input type="text" class="form-control" placeholder="Saldo" ></th>
                        <th><input type="text" class="form-control" placeholder="Jurus" ></th>
                        <th><input type="text" class="form-control" placeholder="Estado" ></th>
                        <th><input type="text" class="form-control" placeholder="nome Cliente" ></th>
                        <th><input type="text" class="form-control" placeholder="Produto" ></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let credito of creditos" (click)="selecterdCreditItem(credito)" 
                    [class.selectTableItem]="credito===curCredito">
                        <td>{{credito.id}}</td>
                        <td>{{credito.valor}}</td>
                        <td>{{credito.balance}}</td>
                        <td>{{credito.jurus}}</td>
                        <td>{{credito.estado}}</td>
                        <td>{{credito.cliente.nome}}</td>
                        <td><!--{{credito.producto.descricao}}--></td>
                        
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>



    <div class="row" *ngIf="showPrestacaoForm()" >
      <hr>
      <h4 class="fomTitle">Criação de Prestação</h4>
      <br>
      Criando prestacao para cliente <label style="color:red"> {{credito.id}}</label> Numero credito <label style="color:red">{{credito.cliente.nome}}</label>
      <div>
        <div class="form-row">
          <div class="fromCell">
            <label for="validationDefault01">estado da prestacao</label>
            <select [(ngModel)]="prestacao.estado" class="form-control" style="width: 100%;"> 
              <option *ngFor="let prestacao_estado of prestacao_estados" >
                {{prestacao_estado}}
              </option>
            </select>
          </div>
          <div class="fromCell">
            <label for="validationDefault02">Capital da prestacao (Jurus+capiral)</label>
            <input type="number" [(ngModel)]="prestacao.valorCapitaPorPagar" class="form-control"  placeholder="000000"  required>
          </div>
          <div class="fromCell">
            <label for="validationDefault02">valor do jurus</label>
            <input type="number" [(ngModel)]="prestacao.jurusPago" class="form-control"  placeholder="000000"  required>
          </div>
          <div class="fromCell">
            <label for="validationDefault02">Data de liquidacao</label>
            <input [(ngModel)]="prestacao.dataPagamento" type="date" class="form-control" placeholder="data liquidacao" aria-describedby="inputGroupPrepend2" required>
          </div>
          <div class="fromCell">
            <label for="validationDefaultUsername" >Data de expericao</label>
            <div >
              <div >
              </div>
              <input [(ngModel)]="prestacao.vencimento" type="date" class="form-control" placeholder="data limite de pagamento" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
        </div>
  
        <br>
        <div class="form-row">
          <div class="fromCell">
        <button class="btn btn-primary, bt-save" (click)="criarPrestacao()" style="margin-right: 5px; background-color: rgb(34, 14, 104);border-color:  rgb(69, 144, 69);">Confirmar Prestacao</button>
  
        <button class="btn btn-primary, bt-cancel" (click)="limparPrestacao()" style="background-color: rgb(226, 63, 63);border-bottom:  rgb(226, 63, 63);">cancelar/limpar</button>
          </div>
        </div>
      </div>
    </div>


    Lista de prestacoes

    <div class="row">
      <div class="panel panel-primary filterable">
          <div class="panel-heading">
              <h3 class="panel-title">Prestacoes {{credito.cliente.nome}}</h3>
              Criar<button (click)="switchVisibilitePrestacaoForm()" class="btn btn-primary, bt-save" ><span>&#43;</span></button>

              
              <div class="pull-right">
                  <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
              </div>
          </div>
          <table class="table">
              <thead>
                  <tr >
                      <th><input type="text" class="form-control" placeholder="ID Prestacao" ></th>
                      <th><input type="text" class="form-control" placeholder="estado" ></th>
                      <th><input type="text" class="form-control" placeholder="Data de vencimento" ></th>
                      <th><input type="text" class="form-control" placeholder="Data de pagamento" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Valor pago" disabled></th>
                      <th><input type="text" class="form-control" placeholder="fee da prestacao" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Fazer fazerPagamento" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Listar pagamento" disabled></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let prestacao of prestacoes" (click)="selectedPrestacao(prestacao)"
                  [class.selectTableItem]="prestacao===curPrestacao">
                      <td>{{prestacao.id}}</td>
                      <td>{{prestacao.estado}}</td>
                      <td>{{prestacao.vencimento| date:'shortDate'}}</td>
                      <td>{{prestacao.dataPagamento| date:'shortDate' }}</td>
                      <td>{{prestacao.capitalPago}}</td>
                      <td>{{prestacao.jurusPago}}</td>
                      <td><button class="btn btn-primary" (click)="fazerPagamento(credito.id)">pagamentos</button></td>
                      <td><button class="btn btn-primary" (click)="selectedPrestacao(prestacao)">Lista Pagamentos</button></td>
                  </tr>   
              </tbody>
          </table>
      </div>
  </div>


  <div class="row"  *ngIf="showPagamentos()">
    <hr>
    <h4 class="fomTitle">Criacao de Pagamento</h4>
    <br>
    <div>
      <div class="form-row">
        <div class="fromCell">
          <label for="validationDefault01">Valor Pago</label>
          <input  [(ngModel)]="pagamento.valorPago" type="number" class="form-control"  placeholder="First name" value="0000" >
        </div>
        <div class="fromCell">
          <label for="validationDefault02">Forma de Pagamento</label>
          <input type="text" [(ngModel)]="pagamento.formaPagamento" class="form-control"  placeholder="Last name" value="Otto" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault02">Conta Creditada</label>
          <input type="text" [(ngModel)]="pagamento.conta" class="form-control"  placeholder="Last name" value="Otto" required>
        </div>
        <div class="fromCell">
          <label for="validationDefaultUsername" >Data de concecao</label>
          <div >
            <div >
            </div>
            <input [(ngModel)]="pagamento.dataDePagametno" type="date" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
      </div>

      <br>
      <div class="form-row">
        <div class="fromCell">
      <button class="btn btn-primary, bt-save" (click)="pagar()" >Confirmar Pagamento</button>

      <button class="btn btn-primary, bt-cancel" (click)="limparPagamento()">cancelar/limpar</button>
        </div>
      </div>
    </div>
    Lista de Pagametos
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Pagamento {{prestacao.id}}</h3>
            <div class="pull-right">
                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr >
                    <th><input type="text" class="form-control" placeholder="ID Pagamento" ></th>
                    <th><input type="text" class="form-control" placeholder="Data do pagamento" ></th>
                    <th><input type="text" class="form-control" placeholder="funcionario que carregou" ></th>
                    <th><input type="text" class="form-control" placeholder="Conta creditada" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Valor pago" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Forma de Pagamento" disabled></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments">
                    <td>{{payment.id}}</td> 
                    <td>{{payment.dataDePagametno| date:'shortDate'}}</td>
                    <td>{{payment.createdBay.name}}</td>
                    <td>{{payment.conta}}</td>
                    <td>{{payment.valorPago}}</td>
                    <td>{{payment.formaPagamento}}</td>
                    <td><button class="btn btn-primary" (click)="editarPagamento(payment)">editar</button></td>
                </tr>   
            </tbody>
        </table>
    </div>
</div>
</div>
