
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  .fromCell{
    width: 30%; margin: 1.5px;
  }
  tr:hover {background-color: rgba(211, 231, 247, 0.965);}

  </style>

  <div class="container" >





    

  
      <div class="form-row">
        <div class="fromCell">
          <label for="validationDefault01">Numero do Credito</label>
          <input  [(ngModel)]="credito.id" type="text" class="form-control"  placeholder="First name" value="Mark" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault02">Capital</label>
          <input type="text" [(ngModel)]="credito.valor" class="form-control"  placeholder="Last name" value="Otto" required>
        </div>
        <div class="fromCell">
          <label for="validationDefaultUsername" >Data de concecao</label>
          <div >
            <div >
            </div>
            <input [(ngModel)]="credito.beginDate" type="date" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="fromCell">
          
          <label for="validationDefault03">Data de fim</label>
          <input [(ngModel)]="credito.doDate" type="date" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="fromCell">
          
          <label for="validationDefault03">Saldo</label>
          <input [(ngModel)]="credito.balance" type="text" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault04">Estado</label>
          <select ngFor="let credito.estado of estados" [(ngModel)]="credito.estado" class="form-control">
              <option class="form-control">{{estados[0]}}</option>
              <option class="form-control">{{estados[1]}}</option>
          </select>
        </div>
        <div class="fromCell">
          <label for="validationDefault05">Jurus</label>
          <input  [(ngModel)]="credito.jurus" stype="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
        </div>balance
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <button class="btn btn-primary" (click)="adicionarCredito()" style="margin-right: 5px; background-color: rgb(69, 144, 69);border-color:  rgb(69, 144, 69);">{{saveCreditoBt}}</button>

      <button class="btn btn-primary" (click)="cancelarCredito()" style="background-color: rgb(226, 63, 63);border-bottom:  rgb(226, 63, 63);">cancelar/limpar</button>
    <hr>

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Creditos</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="ID Credito" ></th>
                        <th><input type="text" class="form-control" placeholder="Valor" ></th>
                        <th><input type="text" class="form-control" placeholder="Jurus" ></th>
                        <th><input type="text" class="form-control" placeholder="Estado" disabled></th>
                        <th><input type="text" class="form-control" placeholder="nome Cliente" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let credito of creditos" (click)="selecterdItem(credito)">
                        <td>{{credito.id}}</td>
                        <td>{{credito.valor}}</td>
                        <td>{{credito.jurus}}</td>
                        <td>{{credito.estado}}</td>
                        <td>{{credito.cliente.nome}}</td>
                        
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>

    Lista de prestacoes

    <div class="row">
      <div class="panel panel-primary filterable">
          <div class="panel-heading">
              <h3 class="panel-title">Prestacoes {{credito.cliente.nome}}</h3>
              <div class="pull-right">
                  <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
              </div>
          </div>
          <table class="table">
              <thead>
                  <tr >
                      <th><input type="text" class="form-control" placeholder="ID Prestacao" ></th>
                      <th><input type="text" class="form-control" placeholder="estado" ></th>
                      <th><input type="text" class="form-control" placeholder="Data de vencimento" ></th>
                      <th><input type="text" class="form-control" placeholder="Capital da prestacao" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Valor pago" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Jurus da prestacao" disabled></th>
                      <th><input type="text" class="form-control" placeholder="Fazer fazerPagamento" disabled></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let prestacao of prestacoes" (click)="selectedPrestacao()">
                      <td>{{prestacao.id}}</td>
                      <td>{{prestacao.estado}}</td>
                      <td>{{prestacao.vencimento| date:'shortDate'}}</td>
                      <td>{{prestacao.valorCapitaPorPagar}}</td>
                      <td>{{prestacao.capitalPago}}</td>
                      <td>{{prestacao.jurusPago}}</td>
                      <td><button class="btn btn-primary" (click)="fazerPagamento(credito.id)">pay</button></td>
                  </tr>   
              </tbody>
          </table>
      </div>
  </div>
</div>
