
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  .fromCell{
    width: 30%; margin: 1.5px;
  }
  </style>
<!--<div class="form-signin"> class="form-signin"    ---->

  <div class="container">
  
      <div class="form-row">
        <div class="fromCell">
          <label for="validationDefault01">First name</label>
          <input  [(ngModel)]="name" type="text" class="form-control"  placeholder="First name" value="Mark" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault02">senha</label>
          <input type="text" [(ngModel)]="senha" class="form-control"  placeholder="Last name" value="Otto" required>
        </div>
        <div class="fromCell">
          <label for="validationDefaultUsername" >roles</label>
          <div >
            <div >
            </div>
            <input [(ngModel)]="roles" type="text" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="fromCell">
          
          <label for="validationDefault03">rendimento</label>
          <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault04">data de nascimento</label>
          <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
        </div>
        <div class="fromCell">
          <label for="validationDefault05">morada</label>
          <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            Agree to terms and conditions
          </label>
        </div>
      </div>
      <button class="btn btn-primary" (click)="adicionarClientes()" >Adcionar Cliente</button>

    <hr>

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" ></th>
                        <th><input type="text" class="form-control" placeholder="First Name" ></th>
                        <th><input type="text" class="form-control" placeholder="Last Name" ></th>
                        <th><input type="text" class="form-control" placeholder="Username" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.name}}</td>
                        <td>{{cliente.senha}}</td>
                        <td>{{cliente.roles}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
