<div id="logreg-forms" style="height: 30%;width: 30%;margin: auto;">
    {{loginServe.jwtPayLoad}}
    <div class="form-signin">
        <img routerLink="/login" class="form-control" routerLinkActive="active" src="assets/loan_support_logo_2-removebg-preview.png"/>
        <h3 class="h3 mb-3 font-weight-normal" style="text-align: center; color: #146c43;">Sign in </h3>
        <input type="email" [(ngModel)]="usrId"  class="form-control" placeholder="Email address" required="" autofocus="" >
        <br/>
        <input type="password" [(ngModel)]="pwdId" (keyup.enter)="login()" class="form-control" placeholder="Password" required="">
        <br/>
        <div > <app-dialog [dialog]="dialog" ></app-dialog></div>
        <button class="btn btn-success btn-block" (click)="login()" ><i class="fas fa-sign-in-alt" ></i> Sign in </button>
        <!--<a href="#" id="forgot_pswd">Forgot password?</a>-->
    </div>  
</div>
<p style="text-align:center">
