<div id="logreg-forms" style="height: 30%;width: 30%;margin: auto;">
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <input type="email" [(ngModel)]="usrId"  class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" [(ngModel)]="pwdId"  class="form-control" placeholder="Password" required="">
        
        <button class="btn btn-success btn-block" (click)="login()" ><i class="fas fa-sign-in-alt"></i> Sign in</button>
        <a href="#" id="forgot_pswd">Forgot password?</a>
    </div>  
   
</div>
<p style="text-align:center">
