
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag  class="form-group" ---------->
<style>
  .fromCell{
    width: 30%; margin: 1.5px;
  }
  tr:hover {background-color: rgba(211, 231, 247, 0.965);}
  </style>

<div class="container">
  <div></div>     
      <div class="form-row">
        <div class="fromCell"> <!--class="col-md-4 mb-3"-->
          <label for="" >ID_Cliente</label>
          <input  [(ngModel)]="cliente.id" type="text"   placeholder="First name" value="{{cliente.id}}" disabled class="form-control" placeholder="Email address" required="" autofocus="" >
        </div>
        <div class="fromCell"> <!--class="col-md-4 mb-3"-->
          <label for="" >Full name</label>
          <input  [(ngModel)]="cliente.nome" type="text"   placeholder="First name"  class="form-control" placeholder="Email address" required="" autofocus="" >
        </div>
        <div class="fromCell">
          <label for="validationDefault02">email</label>
          <input type="email" [(ngModel)]="cliente.email" class="form-control"  placeholder="Last name" value="Otto" >
        </div>

      </div>
      <div class="form-row">
        <div class="fromCell">
          <label for="validationDefaultUsername" >telefone</label>
          <div > <!--class="input-group""-->
            <div class="input-group-prepend"> <!--class="input-group-prepend"-->
            </div>
            <input [(ngModel)]="cliente.telefone" type="number" class="form-control" placeholder="telefone" aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>
        <div class="fromCell">
          <label for="validationDefault03">rendimento</label>
          <input type="number" [(ngModel)]="cliente.rendimento" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        
        <div class="fromCell">
          <label for="validationDefault04">Tipo de documento</label>
          <input type="text" [(ngModel)]="cliente.idDoc" class="form-control" id="validationDefault04" placeholder="State" required>
       
          <label for="validationDefault04">numero</label>
          <input type="text" [(ngModel)]="cliente.numberDoc" class="form-control" id="validationDefault04" placeholder="State" required>
        </div>
        
      

      </div>
      <div class="form-row">
        <div class="fromCell">
          <label for="validationDefault05">morada</label>
          <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
        </div>
        <div >
          <input class="form-check-input"  type="checkbox" value="" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
           Agree to terms and conditions
          </label>
        </div>
      </div>
      <button class="btn btn-primary" (click)="adicionarCliente()" style="margin-right: 5px; background-color: rgb(69, 144, 69);border-color:  rgb(69, 144, 69);">{{saveClientBt}}</button>
      <button class="btn btn-primary" (click)="cancelarCliente()" style="background-color: rgb(226, 63, 63);border-bottom:  rgb(226, 63, 63);">cancelar/limpar</button>
<!--
  div de apresentacao de prestacoes
  <listar prestacoes> 
-->
<div >

</div>
    <hr>

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" ></th>
                        <th><input type="text" class="form-control" placeholder="Full Name" ></th>
                        <th><input type="text" class="form-control" placeholder="Data de nascimento" ></th>
                        <th><input type="text" class="form-control" placeholder="Morada" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Telefone" disabled></th>
                        <th><input type="text" class="form-control" placeholder="email" disabled></th>
                        <th><input type="text" class="form-control" placeholder="ID Doc" disabled></th>
                        <th><input type="text" class="form-control" placeholder="number Doc" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Prestacoes" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes" (click)="selectedItem(cliente)">
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.dataNascimento| date:'shortDate'}}</td>
                        <td>{{cliente.morada}}</td>
                        <td>{{cliente.telefone}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.idDoc}}</td>
                        <td>{{cliente.numberDoc}}</td>
                        <td><button class="btn btn-primary" (click)="mostrarCredito(cliente.id)">Dividas</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>